body {
  background-color: rgba(255, 188, 63, 0.941);
}

.container {
  background-color: rgba(255, 203, 106, 0.941);
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 550px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 30px 0px rgb(45, 119, 45);
  border-radius: 10px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.kotak {
  margin: 10px;
  border: solid 1px;
  width: 130px;
  height: 130px;
  margin-top: 24px;
  border-radius: 8px;
  border-color: transparent;
  padding: 20px 10px 10px 10px;
}

#formData {
  border-radius: 30px;
  padding: 5px;
  text-align: center;
  border-color: transparent;
  margin: 0px 5px;
}

#dataButton {
  border-radius: 30px;
  padding: 5px;
  text-align: center;
  border-color: transparent;
  background-color: blue;
  color: white;
  box-shadow: 0px 0px 5px 1px black;
  margin: 0px 5px;
}

#dataButton:hover {
  color: white;
  letter-spacing: 0.5px;
  background-color: rgb(44, 170, 249);
  box-shadow: 0px 0px 5px 1px white;
}

#card-1 {
  background-color: rgb(0, 75, 0);
  box-shadow: 0px 0px 8px 1px grey;
  color: whitesmoke;
}

#card-2 {
  background-color: rgb(11, 121, 11);
  box-shadow: 0px 0px 8px 1px grey;
  color: whitesmoke;
}

#card-3 {
  background-color: rgb(38, 152, 91);
  box-shadow: 0px 0px 8px 1px grey;
  color: whitesmoke;
}

#card-4 {
  background-color: rgb(70, 210, 135);
  box-shadow: 0px 0px 8px 1px grey;
}

#card-5 {
  background-color: rgb(126, 246, 182);
  box-shadow: 0px 0px 8px 1px grey;
}

#card-6 {
  background-color: rgb(188, 254, 219);
  box-shadow: 0px 0px 8px 1px grey;
}

p:last-child {
  font-weight: bolder;
  font-size: x-large;
  font-family: "Segoe UI";
}
